/* Reset Universal */
* {
    margin: 0;
    padding: 0;
}

/* Definiciones de Fuente */
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* Estilos del Cuerpo */
body {
    background-color: #050505;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Estilos del Encabezado */
header {
    overflow: hidden;
    background-color: #010101;
    padding: 10px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

/* Estilos de la Barra de Navegación */
.navbar-custom {
    background-color: black;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.navbar-dark .navbar-nav .nav-link:not(.disabled):hover,
.navbar-dark .navbar-nav .nav-link:not(.disabled):focus {
    color: white !important;
}

/* Estilos del Contenido Principal */
main {
    text-align: justify;
    color: white;
    background-color: #050505;
}

main div img {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    object-fit: cover;
    padding: 24px 0;
}

main div h2 {
    margin: 8px 0 0px 0;
    background-color: #050505;
}

/* Estilos del Carrusel */
#carouselExampleIndicators.carousel {
    margin: 0;
    height: 400px;
    overflow: hidden;
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item {
    height: 100%;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    #carouselExampleIndicators.carousel {
        height: 600px;
    }
}

/* Estilos de las tarjetas en Servicios, Cursos, Trabajos e Información */
.page-title {
    text-align: center;
    padding: 24px 0px 8px 0px;
    font-weight: 500;
    font-size: 40px;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 16px;
}

.cards {
    text-align: center;
    padding: 24px;
    width: calc(50% - 10px);
    max-width: 500px;
    border: 1px white solid;
    border-radius: 10px;
}

.cards h3 {
    padding: 16px 0;
    font-size: 30px;
    font-weight: 400;
}

.cards p {
    text-align: center;
    padding: 8px 0;
}

.cards img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

.cards-list {
    padding: 0 24px;
}

@media (max-width: 767px) {
    .cards-grid {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 100%;
    }
}

/* Estilos de botones de reserva */
.div-boton-reservas {
    background-color: #050505;
    text-align: center;
    padding: 32px 0;
}

.div-boton-reservas a {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

/* Estilos del Pie de Página */
footer {
    background-color: #010101;
    text-align: center;
    border-top: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.footer-socials p {
    margin-bottom: 5px;
    color: white;
}

.footer-socials a {
    display: inline-flex;
    align-items: center;
    margin: 5px 10px;
    text-decoration: none;
    color: white;
}

.footer-socials a img {
    margin-right: 5px;
    font-size: 1.5em;
}